<!DOCTYPE html>
{% extends 'index.html' %}
 {% block body%} 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company List</title>
  </head>
  <body>
    <h1>List of Companies</h1>
    <ul>
      <div class="row">
        {%for company in companies %}
        <div class="col-md-3">
          <figure class="card card-product-grid">
            <div class="img-wrap">
            <a href="{% url 'company_detail' company.slug %}"> <img src="{{company.logo.url}}"/></a> 
            <h2>{{company.company_name}}</h2>
            </div>
            <!-- img-wrap.// -->
          </figure>
        </div>
        <!-- col.// -->

        {%endfor%}
      </div>
    </ul>
  </body>

  {% endblock %}


</html>
