{% extends 'index.html' %} 
{% block body%} 
{% load static %}

<style> 
      body {
        background-color: #f8f9fa; 
      }
      .company-card {
        margin-bottom: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #ffffff;
      }
      .company-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
      .company-logo {
        height: 200px; 
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .company-details {
        padding: 20px;
        background-color: #f0f0f0; 
      }
      .company-name {
        font-size: 20px;
        color: #a4282a; 
        white-space: nowrap;
      }
      .modal-content {
        background: transparent; 
      } 

      .company-logo-container {
        display: flex; 
        justify-content: center;
      }

      /* Image */
      .company-logo {
        width: 130px; 
        height: 110px; 
        } 
          .icon {
            width: 30px; 
            height: 30px;
        }
</style>

<body>

  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img/logo/xlogo.png' %}"
            height="80px"
            width="100px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Directory of Factories</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'company_list'  %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/information about factories.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Information about Factories
              </a>
              <a href="{% url 'list_factory' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/list of factorics.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
                List of Factories
              </a>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/Factory & Tools Manufacturers Compnay List.png' %}"
                  alt="Resource Library Icon"
                  class="icon"
                />
                Resource Library
              </a>
              <a href="{% url 'requirement_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Certifications and Standards.png' %}"
                  alt="Certifications and Standards Icon"
                  class="icon"
                />
                Certifications and Standards
              </a>
              <a href="{% url 'supply_chain' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Supply Chain Information.png' %}"
                  alt="Supply Chain Information Icon"
                  class="icon"
                />
                Supply Chain Information
              </a>
              <a href="{% url 'company_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Industries Interactive Maps.png' %}"
                  alt="Interactive Maps Icon"
                  class="icon"
                />
                Interactive Maps
              </a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/newsletter subscription icon.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Newsletter Subscription
              </a>
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/industry news and events icon.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
                Industry News and Events
              </a>
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link"
            >Industry Leader</a
          >
          <a href="{% url 'job_list'  %}" class="nav-item nav-link">
            Job Portal</a
          >
          <a href="{% url 'blog'  %}" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>

    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/apu.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">

              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
               Factories streamline production, efficiency
              </h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="{% static 'img/juta.jpeg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Factories boost efficiency, streamlined production
              </h1>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->


<!-- Company list-->
<div class="container  py-5 "> 
   <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 1600px">
    <h5 class="fw-bold text-primary text-uppercase" style="text-align: left;">INDUSTRY OVERVIEW :</h5>
    <h6 style="text-align: justify;">
        USD 5 billion annual export by next few years. Leather industry is the second highest donor to national exports after
        apparel. There has been a steady progress of the leather sector which has attained 11.93% growth in the first half of
        current fiscal year (2016-2017). This sector exceeded the export target by 9.64%, fetching $628 million from exports
        against the target of $572 million during July - December period. Bangladesh earned $560 million from leather and
        leather products exports in the same period of FY 2015-16. The annual Target for the current fiscal year set at $1.22 billion
        which is expected to exceed by June 2017. Bangladesh exported leather and leather goods worth $1.13 billion and
        $1.16 billion respectively in FY 2014-15 and FY 2015-16.
    </h6> 
    <h6 style="text-align: justify;">
        At this time, 220 tanneries, 2500 footwear manufacturing units, and 100+ large firms are involved in the leather and leather
        goods sector. This sector is contributing 4% to the country's total export income by exporting items to more than 50
        countries. The LFMEAB report said Japan and Germany are now the biggest markets for Bangladeshi footwear which
        is also exported to Italy, the UK, France, Belgium, the USA, Sweden, Spain, Saudi Arabia, Taiwan, Hong Kong, Canada, and
        Korea. Footwear exports record impressive growth During the fiscal year 2014-2015, Bangladesh exported footwear
        worth $128.18 million to Germany, $95.22 million to Japan, $82.64 million to the USA, $57.39 million to Spain, $37.16
        million Italy, $24.31 million to France, $14.94 million to the UK, and $7.58 million to the UAE. International brands like
        Adidas, Aldo, Timberland, Marks & Spencer, Clarks, Espirit, ABC Mart, Nike, Wal-Mart, K-Mart Sears, and Nine West,
        Gucci, Reebok, Michael Kors, Picard, Sportcraft, Max & Co and R.M. Williams are sourcing from Bangladesh for quality
        and price.
    </h6>
    <h2 class="mt-5 mb-4 text-center">List of Factories</h2>
</div>

 <div class="row">
  {% for company in companies %}
  <div class="col-md-3">
    <a href="{% url 'company_detail' company.slug %}" class="company-link">
      <div class="company-card"> 
        <div class="company-logo-container">
        <img src="{{ company.logo.url }}" class="company-logo card-img-top" alt="Company Logo" />
      </div>
        <div class="company-details">
         <h4 class="company-name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ company.company_name }}</h4>
          <!-- You can add more details about the company here if needed -->
        </div>
      </div>
    </a> 
  </div> 
  {% endfor %}
  </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if companies.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1">First</a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ companies.previous_page_number }}"
              >Previous</a
            >
          </li>
          {% endif %}
          <li class="page-item disabled">
            <span class="page-link"
              >Page {{ companies.number }} of {{ companies.paginator.num_pages}}</span
            >
          </li>
          {% if companies.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ companies.next_page_number }}"
              >Next</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="?page={{ companies.paginator.num_pages }}"
              >Last</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- End Pagination -->
</div>
<!-- Company list  end-->

{% endblock %}
</body>
