{% extends 'base.html' %}

{% block body%}
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
	
		<div class="form-inline">
			<span class="mr-md-auto">We Have {{products | length }} Items Avaible For You. </span>
			
		</div> 

		<a href="{% url 'cart'  %}" class=".btn-primary:hover {
			color: #ffffff;
			background-color: #8ad3d3;
			border-color: #8ad3d3
		}">                  
			<span class="text">Go to cart</span>
			<i class="fas fa-shopping-cart"></i>
		</a> 
</header><!-- sect-heading -->

<div class="row">
	{%for item in products %}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				
				<img src="{{item.image.url}}">
				
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{% url 'product_detail' item.slug %}" class="title">{{item.Produc_name}}</a>
					<div class="price-wrap mt-2">
						<span class="price">Only {{item.price}} Taka</span>
					</div> <!-- price-wrap.// -->
					<div class="price-wrap mt-2">
						<span class="price">Avaible {{item.stock}} Items</span>
					</div>
				</div>
				<a href="{% url 'add_cart' item.id %}" class="btn btn-block btn-success">Added to cart </a>  
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	{%endfor%}
</div> <!-- row end.// -->

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
{% endblock %}