{% extends 'index.html' %} {% block body%} {% load static %}
<style> 
    .icon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}
</style>
<body>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img/logo/up_logo.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <a href="{% url 'company_list'  %}" class="nav-item nav-link"
            >Directory of Factories</a
          >
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
                <a href="{% url 'resource_library' %}" class="dropdown-item">
                    <img src="{% static 'img\icon.png' %}" alt="Resource Library Icon" class="icon"> Resource Library
                </a>
                <a href="{% url 'requirement_list' %}" class="dropdown-item">
                    <img src="{% static 'img\hm.png' %}" alt="Certifications and Standards Icon" class="icon"> Certifications and Standards
                </a>
                <a href="{% url 'supply_chain' %}" class="dropdown-item">
                    <img src="{% static 'img\hand.jpg' %}" alt="Supply Chain Information Icon" class="icon"> Supply Chain Information
                </a>
                <a href="{% url 'company_list' %}" class="dropdown-item">
                    <img src="{% static 'img\map.jpg' %}" alt="Interactive Maps Icon" class="icon"> Interactive Maps
                </a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
                <a href="{% url 'news_all' %}" class="dropdown-item">
                    <img src="{% static 'img/Cloud.png' %}" alt="Newsletter Subscription Icon" class="icon"> Newsletter Subscription
                </a>
                <a href="{% url 'news_all' %}" class="dropdown-item">
                    <img src="{% static 'img/ZH.png' %}" alt="Industry News and Events Icon" class="icon"> Industry News and Events
                </a>
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link"
            >Industry Leader</a
          >
          <a href="{% url 'job_list'  %}" class="nav-item nav-link">
            Job Portal</a
          >
          <a href="{% url 'blog'  %}" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>

    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/aboutX.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h5
                class="text-white text-uppercase mb-3 animated slideInDown"
              ></h5>
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Insight, Global Reach, Collaboration, Leadership
              </h1>
            </div>
          </div>
        </div>
        {% comment %}
        <div class="carousel-item">
          <img class="w-100" src="{% static 'img/home2.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Creative & Innovative
              </h5>
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Creative & Innovative Digital Solution
              </h1>
              <a
                href=""
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Free Quote</a
              >
              <a
                href="{% url 'contact'  %}"
                class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->

  <!-- About Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-7">
          <div class="section-title position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
            <h3 class="mb-0">Comprehensive Industry Insight</h3>
          </div>
          <h5 class="mb-4" style="text-align: justify">
            At Footwear Today (FT), we offer an extensive platform that
            encompasses all facets of footwear, leather, and allied industries.
            From sourcing to manufacturing and promotion, we provide
            comprehensive insights into every aspect of the business.
          </h5>
          <div class="row g-0 mb-3">
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Award Winning
              </h5>
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Professional Staff
              </h5>
            </div>
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>24/7 Support
              </h5>
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Fair Prices
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-5" style="min-height: 500px">
          <div class="position-relative h-100">
            <img
              class="position-absolute w-100 h-100 rounded wow zoomIn"
              data-wow-delay="0.9s"
              src="{% static 'img/personal.jpg' %}"
              style="object-fit: cover"
            />
          </div>
        </div>
      </div>

      <div class="section-title position-relative pb-3 mb-5">
        <h3 class="mb-0">Global Reach:</h3>
      </div>
      <h5 class="mb-4">
        With a diverse community hailing from every corner of the globe, FT
        connects you with a worldwide network of professionals and enthusiasts.
        Whether you're a retailer, brand, manufacturer, or part of the
        backward-linked industry, FT offers a global platform to expand your
        reach and connect with potential partners and customers.
      </h5>

      <div class="section-title position-relative pb-3 mb-5">
        <h3 class="mb-0">Promoting Collaboration:</h3>
      </div>
      <h5 class="mb-4">
        FT fosters a culture of collaboration and knowledge sharing among
        industry stakeholders. Our platform encourages dialogue and exchange of
        ideas between business leaders, designers, academicians, policymakers,
        brands, retailers, marketers, producers, workers, and footwear
        enthusiasts, creating opportunities for innovation and growth.
      </h5>

      <div class="section-title position-relative pb-3 mb-5">
        <h3 class="mb-0">Supporting Industry Best Practices:</h3>
      </div>
      <h5 class="mb-4">
        We are committed to promoting industry best practices and ethical
        standards across the footwear, bags, and allied industries. By
        facilitating discussions, sharing insights, and highlighting success
        stories, FT aims to elevate the industry as a whole and promote
        sustainable growth.
      </h5>

      <div class="section-title position-relative pb-3 mb-5">
        <h3 class="mb-0">Leadership Recognition:</h3>
      </div>
      <h6 class="mb-4">
        FT recognizes and celebrates the contributions of industry leaders who
        drive innovation, inspire change, and make a positive impact on the
        footwear, bags, and allied industries in Bangladesh. By showcasing their
        achievements and initiatives, we aim to inspire the next generation of
        leaders and promote excellence within the industry.
      </h6>
    </div>
  </div>
  <!-- About End -->

  {% endblock %}
</body>
