{% extends 'index.html' %} {% block body%} {% load static %}
<body>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img/logo/up_logo.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <a href="{% url 'company_list'  %}" class="nav-item nav-link"
            >Directory of Factories</a
          >
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library'  %}" class="dropdown-item"
                >Resource Library</a
              >
              <a href="{% url 'requirement_list'  %}" class="dropdown-item"
                >Certifications and Standards</a
              >
              <a href="{% url 'supply_chain'  %}" class="dropdown-item"
                >Supply Chain Information</a
              >
              <a href="{% url 'company_list'  %}" class="dropdown-item"
                >Interactive Maps</a
              >
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Newsletter Subscription</a
              >
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Industry News and Events</a
              >
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link"
            >Industry Leader</a
          >
          <a href="{% url 'job_list'  %}" class="nav-item nav-link">
            Job Portal</a
          >
          <a href="{% url 'blog'  %}" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>

    <div
      class="container-fluid bg-primary py-5 bg-header"
      style="margin-bottom: 90px"
    >
      <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-4 text-white animated zoomIn">Contact Us</h1>
          <a href="" class="h5 text-white">Home</a>
          <i class="far fa-circle text-white px-2"></i>
          <a href="" class="h5 text-white">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar End -->

  <!-- Full Screen Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn bg-white btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body d-flex align-items-center justify-content-center"
        >
          <div class="input-group" style="max-width: 600px">
            <input
              type="text"
              class="form-control bg-transparent border-primary p-3"
              placeholder="Type search keyword"
            />
            <button class="btn btn-primary px-4">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Full Screen Search End -->

  <!-- Blog Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-3">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h5 class="fw-bold text-primary text-uppercase">Latest Blog</h5>
        <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
          <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
              <img
                class="img-fluid"
                src="{% static 'img/blog-1.jpg' %}"
                alt=""
              />
              <a
                class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                href=""
                >Web Design</a
              >
            </div>
            <div class="p-4">
              <div class="d-flex mb-3">
                <small class="me-3"
                  ><i class="far fa-user text-primary me-2"></i>John Doe</small
                >
                <small
                  ><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan,
                  2045</small
                >
              </div>
              <h4 class="mb-3">How to build a website</h4>
              <p>
                Dolor et eos labore stet justo sed est sed sed sed dolor stet
                amet
              </p>
              <a class="text-uppercase" href=""
                >Read More <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
          <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
              <img
                class="img-fluid"
                src="{% static 'img/blog-2.jpg' %}"
                alt=""
              />
              <a
                class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                href=""
                >Web Design</a
              >
            </div>
            <div class="p-4">
              <div class="d-flex mb-3">
                <small class="me-3"
                  ><i class="far fa-user text-primary me-2"></i>John Doe</small
                >
                <small
                  ><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan,
                  2045</small
                >
              </div>
              <h4 class="mb-3">How to build a website</h4>
              <p>
                Dolor et eos labore stet justo sed est sed sed sed dolor stet
                amet
              </p>
              <a class="text-uppercase" href=""
                >Read More <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
          <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
              <img
                class="img-fluid"
                src="{% static 'img/blog-3.jpg' %}"
                alt=""
              />
              <a
                class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                href=""
                >Web Design</a
              >
            </div>
            <div class="p-4">
              <div class="d-flex mb-3">
                <small class="me-3"
                  ><i class="far fa-user text-primary me-2"></i>John Doe</small
                >
                <small
                  ><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan,
                  2045</small
                >
              </div>
              <h4 class="mb-3">How to build a website</h4>
              <p>
                Dolor et eos labore stet justo sed est sed sed sed dolor stet
                amet
              </p>
              <a class="text-uppercase" href=""
                >Read More <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog Start -->

  {% endblock %}
</body>
