{% extends 'index.html' %}
{% block body %}
{% load static %}
<style>
  .icon {
    width: 30px; 
    height: 30px; 
  }

  .modal {
      display: none; 
      position: fixed;
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
      padding-top: 60px; 
  }

  .modal-content {
      background-color: #fefefe;
      margin: 5% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
  }

  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
</style>
<script>
  function showModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
  }

  function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
  }

  window.onclick = function(event) {
      var modal = document.getElementById("myModal");
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>
<body>
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img class="w-100" src="{% static 'img/logo/xlogo.png' %}" height="80px" width="100px" alt="Image"/>
        </h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Directory of Factories</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'company_list'  %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/information about factories.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Information about Factories
              </a>
              <a href="{% url 'list_factory' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/list of factorics.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
                List of Factories
              </a>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/Factory & Tools Manufacturers Compnay List.png' %}"
                  alt="Resource Library Icon"
                  class="icon"
                />
                Resource Library
              </a>
              <a href="{% url 'requirement_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Certifications and Standards.png' %}"
                  alt="Certifications and Standards Icon"
                  class="icon"
                />
                Certifications and Standards
              </a>
              <a href="{% url 'supply_chain' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Supply Chain Information.png' %}"
                  alt="Supply Chain Information Icon"
                  class="icon"
                />
                Supply Chain Information
              </a>
              <a href="{% url 'company_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon\Industries Interactive Maps.png' %}"
                  alt="Interactive Maps Icon"
                  class="icon"
                />
                Interactive Maps
              </a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/newsletter subscription icon.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Newsletter Subscription
              </a>
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/icon/industry news and events icon.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
                Industry News and Events
              </a>
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link"
            >Industry Leader</a
          >
          <a href="{% url 'job_list'  %}" class="nav-item nav-link">
            Job Portal</a
          >
          <a href="{% url 'blog'  %}" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-danger ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-danger py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>

    <div class="container-fluid bg-danger py-5 bg-header" style="margin-bottom: 90px">
      <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-4 text-white animated zoomIn">Contact Us</h1>
          <a href="" class="h5 text-white">Home</a>
          <i class="far fa-circle text-white px-2"></i>
          <a href="" class="h5 text-white">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar End -->

  <!-- Full Screen Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
        <div class="modal-header border-0">
          <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-center">
          <div class="input-group" style="max-width: 600px">
            <input type="text" class="form-control bg-transparent border-danger p-3" placeholder="Type search keyword"/>
            <button class="btn btn-danger px-4">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Full Screen Search End -->

  <!-- Contact Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
        <h5 class="fw-bold text-danger text-uppercase">Contact Us</h5>
        <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
      </div>
      <div class="row g-5 mb-5">
        <div class="col-lg-4">
          <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-danger d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px">
              <i class="fa fa-phone-alt text-white"></i>
            </div>
            <div class="ps-4">
              <h5 class="mb-2">Call to ask any question</h5>
              <h4 class="text-danger mb-0">+8801671166809</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
            <div class="bg-danger d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px">
              <i class="fa fa-envelope-open text-white"></i>
            </div>
            <div class="ps-4">
              <h5 class="mb-2">Email to get free quote</h5>
              <h4 class="text-danger mb-0">info@thefootweartoday.com</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
            <div class="bg-danger d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px">
              <i class="fa fa-map-marker-alt text-white"></i>
            </div>
            <div class="ps-4">
              <h5 class="mb-2">Visit our office</h5>
              <h4 class="text-danger mb-0">Mirpur, Dhaka</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control border-0 bg-light px-4" placeholder="Your Name" style="height: 55px" required/>
              </div>
              <div class="col-md-6">
                <input type="email" name="email" class="form-control border-0 bg-light px-4" placeholder="Your Email" style="height: 55px" required/>
              </div>
              <div class="col-12">
                <input type="text" name="subject" class="form-control border-0 bg-light px-4" placeholder="Subject" style="height: 55px" required/>
              </div>
              <div class="col-12">
                <textarea name="message" class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Message" required></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-danger w-100 py-3" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
          <div style="width: 100%">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Mirpur12,%20Dhaka,%20Bangaldesh+(Dhaka)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps systems</a></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <p>Thank you for your message! We will get back to you shortly.</p>
    </div>
  </div>

  {% if success %}
    <script>
      showModal();
    </script>
  {% endif %}

  {% endblock %}
</body>
