{% extends 'index.html' %} {% block body%} {% load static %}
<style>
  @media screen and (max-width: 992px) {
    #video {
      max-width: 100%;
      height: auto;
    }
    .video-section {
      margin-left: 0; /* Reset margin left for smaller screens */
    }
  }
  .icon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
  }
  .background-image {
    background-image: url('{% static "img/Background/whitered.jpg" %}');
    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }

  .background-image2 {
    background-image: url('{% static "img/Background/whitedesing.jpg" %}');
    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }

  .background-image1 {
    background-image: url('{% static "img/Background/whitered.jpg" %}');
    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }
  .background-image3 {
    background-image: url('{% static "img/Background/less20.png" %}');
    /* Adjust background properties as needed */
    background-size: 70%;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }
  .background-image4 {
    background-image: url('{% static "img/Background/less4.png" %}');
    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }
  .background-image5 {
    background-image: url('{% static "img/Background/less.png" %}');
    /* Adjust background properties as needed */
    background-size: 50%;
    background-position: center;
    /* Optionally, you can set a background color in case the image doesn't load */
    background-color: #f9f9f9; /* Light gray as a fallback */
  }
</style>
<script>
  // Function to initialize the carousel and set an interval to switch slides every 3 seconds
  document.addEventListener("DOMContentLoaded", function () {
    // Initialize the carousel
    var carouselElement = document.querySelector("#header-carousel");
    var carousel = new bootstrap.Carousel(carouselElement, {
      interval: false, // Disable the default interval
    });

    // Function to switch to the next slide
    function switchToNextSlide() {
      carousel.next();
    }

    // Set an interval to switch slides every 3 seconds
    setInterval(switchToNextSlide, 3000);
  });
</script>

<body>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img\logo\xlogo.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Directory of Factories</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'company_list'  %}" class="dropdown-item">
                <img
                  src="{% static 'img/Cloud.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Information about Factories
              </a>
              <a href="{% url 'list_factory' %}" class="dropdown-item">
                <img
                  src="{% static 'img/ZH.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
               List of Factories
              </a>
            </div>
          </div>  

          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library' %}" class="dropdown-item">
                <img
                  src="{% static 'img\icon.png' %}"
                  alt="Resource Library Icon"
                  class="icon"
                />
                Resource Library
              </a>
              <a href="{% url 'requirement_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\hm.png' %}"
                  alt="Certifications and Standards Icon"
                  class="icon"
                />
                Certifications and Standards
              </a>
              <a href="{% url 'supply_chain' %}" class="dropdown-item">
                <img
                  src="{% static 'img\hand.jpg' %}"
                  alt="Supply Chain Information Icon"
                  class="icon"
                />
                Supply Chain Information
              </a>
              <a href="{% url 'company_list' %}" class="dropdown-item">
                <img
                  src="{% static 'img\map.jpg' %}"
                  alt="Interactive Maps Icon"
                  class="icon"
                />
                Interactive Maps
              </a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/Cloud.png' %}"
                  alt="Newsletter Subscription Icon"
                  class="icon"
                />
                Newsletter Subscription
              </a>
              <a href="{% url 'news_all' %}" class="dropdown-item">
                <img
                  src="{% static 'img/ZH.png' %}"
                  alt="Industry News and Events Icon"
                  class="icon"
                />
                Industry News and Events
              </a>
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link"
            >Industry Leader</a
          >
          <a href="{% url 'job_list'  %}" class="nav-item nav-link">
            Job Portal</a
          >
          <a href="{% url 'blog'  %}" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>

    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
      {% for home in home %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img class="w-100" src="{{home.slide.url}}" alt="Image" />
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                {{home.small_text}}
              </h5>
              <h2 class="display-1 text-white mb-md-4 animated zoomIn">
                {{home.big_text}}
              </h2>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->

  <!-- Full Screen Search Start -->
  <div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn bg-white btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="modal-body d-flex align-items-center justify-content-center"
        >
          <div class="input-group" style="max-width: 600px">
            <input
              type="text"
              class="form-control bg-transparent border-primary p-3"
              placeholder="Type search keyword"
            />
            <button class="btn btn-primary px-4">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Full Screen Search End -->
  
  <!-- News Start -->
  <div
    class="container-fluid py-5 wow fadeInUp background-image2"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div class="row g-5">
        <!-- Video Section -->
        <div class="col-lg-8">
          <div class="video-section" style="margin-left: -90px">
            <video id="video" width="105%" height="auto" autoplay muted>
              <source src="{% static 'img/demo1.mp4' %}" type="video/mp4" />
            </video>
          </div>
        </div>

        <!-- Latest News Section Start-->
        <div class="col-lg-4">
          <div
            style="background-color: #c8b6a9; width:410px; height:426px; margin-left: 5%"
          >
            <h2>Latest News</h2>
            <div class="news-container">
              <!-- Iterate over your latest news articles -->
              <marquee
                direction="up"
                onmouseover="this.stop();"
                onmouseout="this.start();"
                scrollamount="2"
                loop="1000"
              >
                {% for article in latest_news %}
                <a
                  href="{% url 'news_detail' article.slug %}"
                  class="company-link"
                >
                  <p
                    class="bi-arrow-right"
                    style="color: black; margin-bottom: 20px"
                  >
                    {{ article.title }}
                  </p>
                </a>
                {% endfor %}
              </marquee>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Latest News Section End -->

  <!-- About Start -->
  <div
    class="container-fluid py-3 wow fadeInUp background-image1"
    data-wow-delay="0.1s"
  >
  <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-7">
          <div class="section-title position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
            <h1 class="mb-0">Comprehensive Industry Insight</h1>
          </div>
          <p class="mb-4" style="text-align: justify">
            At Footwear Today (FT), we offer an extensive platform that
            encompasses all facets of footwear, leather, and allied industries.
            From sourcing to manufacturing and promotion, we provide
            comprehensive insights into every aspect of the business.
          </p>
          <div class="row g-0 mb-3">
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Award Winning
              </h5>
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Professional Staff
              </h5>
            </div>
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>24/7 Support
              </h5>
              <h5 class="mb-3">
                <i class="fa fa-check text-primary me-3"></i>Fair Prices
              </h5>
            </div>
          </div>
          <div
            class="d-flex align-items-center mb-4 wow fadeIn"
            data-wow-delay="0.6s"
          >
            <div>
              <a
                href="{% url 'about'  %}"
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >See More</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-5" style="min-height: 400px">
          <div class="position-relative h-100">
            <img
              class="position-absolute w-100 h-100 rounded wow zoomIn"
              data-wow-delay="0.9s"
              src="{% static 'img/personal.jpg' %}"
              style="object-fit: cover"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Features Start -->
  <div
    class="container-fluid py-3 wow fadeInUp background-image"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
        <h1 class="mb-0">We Are Here to Grow Your Business Exponentially</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
              <div
                class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-cubes text-white"></i>
              </div>
              <h4>Best In Industry</h4>
              <p class="mb-0">
                Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam
                dolor
              </p>
            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
              <div
                class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-award text-white"></i>
              </div>
              <h4>Logistics Support</h4>
              <p class="mb-0">
                Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam
                dolor
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 wow zoomIn"
          data-wow-delay="0.9s"
          style="min-height: 350px"
        >
          <div class="position-relative h-100">
            <img
              class="position-absolute w-100 h-100 rounded wow zoomIn"
              data-wow-delay="0.1s"
              src="{% static 'img/class.jpg' %}"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row g-5">
            <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
              <div
                class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-users-cog text-white"></i>
              </div>
              <h4>Professional Staff</h4>
              <p class="mb-0">
                Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam
                dolor
              </p>
            </div>
            <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
              <div
                class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                style="width: 60px; height: 60px"
              >
                <i class="fa fa-phone-alt text-white"></i>
              </div>
              <h4>Exclusive Support For Your Business</h4>
              <p class="mb-0">
                Magna sea eos sit dolor, ipsum amet lorem diam dolor eos et diam
                dolor
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Start -->

  <!-- Service Start -->
  <div
    class="container-fluid py-3 wow fadeInUp background-image4"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
        <h1 class="mb-0">Footwear Today is stands for your Business Success</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-shield-alt text-white"></i>
            </div>
            <h4 class="mb-3">Resource Library</h4>
            <p class="m-0">
              Amet justo dolor lorem kasd amet magna sea stet eos vero lorem
              ipsum dolore sed
            </p>
            <a
              class="btn btn-lg btn-primary rounded"
              href="{% url 'resource_library'  %}"
            >
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-chart-pie text-white"></i>
            </div>
            <h4 class="mb-3">Certifications and Standards</h4>
            <p class="m-0">
              Amet justo dolor lorem kasd amet magna sea stet eos vero lorem
              ipsum dolore sed
            </p>
            <a
              class="btn btn-lg btn-primary rounded"
              href="{% url 'requirement_list'  %}"
            >
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-code text-white"></i>
            </div>
            <h4 class="mb-3">Supply Chain Information</h4>
            <p class="m-0">
              Amet justo dolor lorem kasd amet magna sea stet eos vero lorem
              ipsum dolore sed
            </p>
            <a
              class="btn btn-lg btn-primary rounded"
              href="{% url 'supply_chain'  %}"
            >
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fab fa-android text-white"></i>
            </div>
            <h4 class="mb-3">Industries Interactive Maps</h4>
            <p class="m-0">
              Amet justo dolor lorem kasd amet magna sea stet eos vero lorem
              ipsum dolore sed
            </p>
            <a
              class="btn btn-lg btn-primary rounded"
              href="{% url 'company_list'  %}"
            >
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
          <div
            class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
          >
            <h3 class="text-white mb-3">Call Us For Quote</h3>
            <p class="text-white mb-3">
              Get in touch with us for a personalized quote tailored to your
              requirements.
            </p>
            <h2 class="text-white mb-0">+8801671166809</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->
  <!-- Blog Start -->
  <div
    class="container-fluid py-3 wow fadeInUp background-image3"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 600px"
      >
        <h3 class="fw-bold text-primary text-uppercase">Latest Blog</h3>
      </div>
      <div class="row g-5">
        {% for blog in blogs %}
        <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
          <div class="blog-item bg-light rounded overflow-hidden">
            <div class="blog-img position-relative overflow-hidden">
              <img class="img-fluid" src="{{ blog.image.url }}" alt="" />
              <a
                class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                href=""
                >Latest Blog</a
              >
            </div>
            <div class="p-4">
              <div class="d-flex mb-3">
                <small class="me-3"
                  ><i class="far fa-user text-primary me-2"></i
                  >{{blog.author}}</small
                >
                <small
                  ><i class="far fa-calendar-alt text-primary me-2"></i
                  >{{blog.publication_date}}</small
                >
              </div>
              <a href="{% url 'blog_details' blog.slug %}" class="read-more bi">
                <h4 class="mb-3">{{blog.title|truncatewords:5}}</h4>
              </a>
              <p>{{ blog.content|truncatewords:18 }}</p>
              <a
                href="{% url 'blog_details' blog.slug %}"
                class="read-more bi bi-arrow-right"
                >Read more</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Blog Start -->

  <!-- Quote Start -->
  <div
    class="container-fluid py-3 wow fadeInUp background-image5"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-7">
          <div class="section-title position-relative pb-3 mb-5">
            <h5 class="fw-bold text-primary text-uppercase">
              Request A Message
            </h5>
            <h1 class="mb-0">Please Feel Free to Contact Us</h1>
          </div>
          <div class="row gx-3">
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
              <h5 class="mb-4">
                <i class="fa fa-reply text-primary me-3"></i>Reply within 24
                hours
              </h5>
            </div>
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
              <h5 class="mb-4">
                <i class="fa fa-phone-alt text-primary me-3"></i>24 hrs
                telephone support
              </h5>
            </div>
          </div>
          <p class="mb-4">
            Welcome to our website! We are dedicated to providing excellent
            service and support to our customers. Whether you have questions
            about our services or need assistance, feel free to reach out to us.
            Our team is here to help you.
          </p>

          <div
            class="d-flex align-items-center mt-2 wow zoomIn"
            data-wow-delay="0.6s"
          >
            <div
              class="bg-primary d-flex align-items-center justify-content-center rounded"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-phone-alt text-white"></i>
            </div>
            <div class="ps-4">
              <h5 class="mb-2">Call to ask any question</h5>
              <h4 class="text-primary mb-0">+8801671166809</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div
            class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn"
            data-wow-delay="0.9s"
          >
            <form>
              <div class="row g-3">
                <div class="col-xl-12">
                  <input
                    type="text"
                    class="form-control bg-light border-0"
                    placeholder="Your Name"
                    style="height: 55px"
                  />
                </div>
                <div class="col-12">
                  <input
                    type="email"
                    class="form-control bg-light border-0"
                    placeholder="Your Email"
                    style="height: 55px"
                  />
                </div>
                <div class="col-12">
                  <select
                    class="form-select bg-light border-0"
                    style="height: 55px"
                  >
                    <option selected>Select A Service</option>
                    <option value="1">Service 1</option>
                    <option value="2">Service 2</option>
                    <option value="3">Service 3</option>
                  </select>
                </div>
                <div class="col-12">
                  <textarea
                    class="form-control bg-light border-0"
                    rows="3"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div class="col-12">
                  <button class="btn btn-dark w-100 py-3" type="submit">
                    Request A Quote
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quote End -->

  {% endblock %}
</body>
