{% extends 'index.html' %} 
{% block body%} 
{% load static %}
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
      <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
          <h1 class="m-0">
            <!--<i class="fa fa-user-tie me-2"></i>-->
            <img
              class="w-100"
              src="{% static 'img/logo/footware_logo.png' %}"
              height="100px"
              width="200px"
              alt="Image"
            />
          </h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a href="{% url 'about'  %}" class="nav-item nav-link active"
              >About</a
            >
            <a href="{% url 'company_list'  %}" class="nav-item nav-link"
              >Directory of Factories</a
            >
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Service</a
              >
              <div class="dropdown-menu m-0">
                <a href="service.php" class="dropdown-item">Resource Library</a>
                <a href="service.php" class="dropdown-item"
                  >Certifications and Standards</a
                >
                <a href="service.php" class="dropdown-item"
                  >Supply Chain Information</a
                >
                <a href="service.php" class="dropdown-item">Interactive Maps</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >KCC</a
              >
              <div class="dropdown-menu m-0">
                <a href="{% url 'news_all'  %}" class="dropdown-item"
                  >Newsletter Subscription</a
                >
                <a href="{% url 'news_all'  %}" class="dropdown-item"
                  >Industry News and Events</a
                >
              </div>
            </div>
            <a href="team.php" class="nav-item nav-link">Industry Leader</a>
            <a href="jobportal.php" class="nav-item nav-link"> Job Portal</a>
            <a href="blog.php" class="nav-item nav-link">Blog</a>
            <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
          </div>
          <!--
   <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
               <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
   -->
        </div>
      </nav>

      <div
        id="header-carousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Navbar & Carousel End -->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, 0.7)">
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn bg-white btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body d-flex align-items-center justify-content-center"
          >
            <div class="input-group" style="max-width: 600px">
              <input
                type="text"
                class="form-control bg-transparent border-primary p-3"
                placeholder="Type search keyword"
              />
              <button class="btn btn-primary px-4">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Full Screen Search End -->
    
<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px">
            <h5 class="fw-bold text-primary text-uppercase">Industry Leader</h5>
            <h1 class="mb-0">Driven by visionary leaders, we pursue excellence</h1>
        </div>
        <div class="row g-5">
            {% for leader in leaders %}
            <div class="col-lg-4 wow slideInUp" data-wow-delay="{% cycle '0.3s' '0.6s' '0.9s' %}">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ leader.image.url }}" alt="{{ leader.name }}">
                        <!-- If you have social media links for each leader, you can add them here -->
                        <div class="team-social">
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{ leader.facebook }}"
                            ><i class="fab fa-facebook-f fw-normal"></i
                          ></a>
                          <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{ leader.linkedin }}"
                            ><i class="fab fa-linkedin-in fw-normal"></i
                          ></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">{{ leader.name }}</h4>
                        <p class="text-uppercase m-0">{{ leader.title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}
</body>
