{% extends 'index.html' %} 
{% block body%} 
{% load static %}

<style> 
      .cart {
          max-height: 400px; /* Adjust the max-height as needed */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .cart .p-3 {
          padding: 1rem;
      }

      .cart .img-fluid {
          max-height: 200px; /* Adjust the max-height as needed */
          max-width: 100%; /* Ensure the image doesn't exceed the cart's width */
          object-fit: contain; /* Maintain aspect ratio and fit within the container */
      }

      .buttons {
          margin-top: 10px; /* Adjust the margin as needed */
      }

      .buttons .btn {
          margin-right: 5px; /* Adjust the margin between buttons as needed */
      }
      .text-justify {
      text-align: justify;
    }

      

</style>
<body>

  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img/logo/up_logo.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <a href="{% url 'company_list'  %}" class="nav-item nav-link"
            >Directory of Factories</a
          >
          <div class="nav-item dropdown"> 
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library'  %}" class="dropdown-item">Resource Library</a>
              <a href="{% url 'requirement_list'  %}" class="dropdown-item"
                >Certifications and Standards</a
              >
              <a href="{% url 'supply_chain'  %}" class="dropdown-item"
                >Supply Chain Information</a
              >
              <a href="{% url 'company_list'  %}" class="dropdown-item">Interactive Maps</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Newsletter Subscription</a
              >
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Industry News and Events</a
              >
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link">Industry Leader</a>
          <a href="" class="nav-item nav-link"> Job Portal</a>
          <a href="" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>
 
    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/Supply.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px"> 
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                SUPPLY CHAIN INFORMATION
              </h1>            
            </div>
          </div>
        </div>
        {% comment %} <div class="carousel-item">
          <img class="w-100" src="{% static 'img/home2.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Creative & Innovative
              </h5>
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Creative & Innovative Digital Solution
              </h1>
              <a
                href=""
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Free Quote</a
              >
              <a
                href="{% url 'contact'  %}"
                class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight"
                >Contact Us</a
              >
            </div>
          </div>
        </div> {% endcomment %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->


  <!-- Service Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
      <div
        class="section-title text-center position-relative pb-3 mb-5 mx-auto"
        style="max-width: 1600px"
      >
        <h5 class="fw-bold text-primary text-uppercase">Supply chain information:</h5>
        <h6 class="text-justify">
       Explore the intricate web of Bangladesh's footwear industry with our comprehensive supply chain directory. From raw materials to the final product, delve into the ecosystem that drives the local and international footwear market. Connect with key players, gather insights, and forge partnerships for a thriving industry. 
       Raw Material Suppliers: Discover a curated list of backward-linked suppliers providing essential materials like synthetic materials, insole, outsole, non-leather, leather, machinery, rubber, fabric, adhesives, and more. 
       Manufacturers: Gain access to a database of footwear manufacturers, ranging from small-scale workshops to large factories, specializing in various types of footwear production supply chain operations.
       Industry Associations: Access information about industry associations and organizations working to support and promote the growth of Bangladesh's footwear sector.
       Market Insights: Stay updated with the latest market trends, consumer preferences, and industry reports to make informed decisions and stay ahead of the competition.
       Regulatory Guidelines: Get insights into regulatory frameworks, compliance standards, and certifications required for operating within the footwear industry in Bangladesh.
       Networking Opportunities: Engage in networking events, trade shows, and forums aimed at fostering collaboration and business development within the footwear industry.
       Investment Opportunities: Explore investment opportunities within Bangladesh's footwear sector, including potential partnerships, joint ventures, and funding avenues for aspiring entrepreneurs and investors
       This section will serve as a valuable resource hub for anyone involved in or interested in the footwear industry in Bangladesh, facilitating connections, knowledge sharing, and business growth.
        </h6>

  </div>
      <div class="row g-5">
        {% for category in categories %}
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon">
              <i class="fa fa-shield-alt text-white"></i>
            </div>
            <h5 class="mb-3">{{ category.category_name }}</h5>
            <p class="m-0">
              Supply Chain Info Of Footware Today
            </p>
            <a class="btn btn-lg btn-primary rounded" href="{% url 'category_list' category_slug=category.slug %}">
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
       {% endfor %}
        <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
          <div
            class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5"
          >
            <h3 class="text-white mb-3">Call Us For Quote</h3>
            <p class="text-white mb-3">
              Get in touch with us for a personalized quote tailored to your
              requirements.
            </p>
            <h2 class="text-white mb-0">+8801671166809</h2>
          </div>
        </div>
         </div>
    </div>
  </div>
  <!-- Service End -->

{% endblock %}
</body>
