{% extends 'index.html' %} 
{% block body%} 
{% load static %}

<style> 
    .text-justify {
      text-align: justify;
    }
    .news-image {
        max-width: 80%;
        height: auto;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .news-details {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>


<body>

  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
   >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <h1 class="m-0">
          <!--<i class="fa fa-user-tie me-2"></i>-->
          <img
            class="w-100"
            src="{% static 'img/logo/up_logo.png' %}"
            height="100px"
            width="200px"
            alt="Image"
          />
        </h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'about'  %}" class="nav-item nav-link active"
            >About</a
          >
          <a href="{% url 'company_list'  %}" class="nav-item nav-link"
            >Directory of Factories</a
          >
          <div class="nav-item dropdown"> 
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >Service</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'resource_library'  %}" class="dropdown-item">Resource Library</a>
              <a href="{% url 'requirement_list'  %}" class="dropdown-item"
                >Certifications and Standards</a
              >
              <a href="{% url 'supply_chain'  %}" class="dropdown-item"
                >Supply Chain Information</a
              >
              <a href="{% url 'company_list'  %}" class="dropdown-item">Interactive Maps</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              >KCC</a
            >
            <div class="dropdown-menu m-0">
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Newsletter Subscription</a
              >
              <a href="{% url 'news_all'  %}" class="dropdown-item"
                >Industry News and Events</a
              >
            </div>
          </div>
          <a href="{% url 'leaders'  %}" class="nav-item nav-link">Industry Leader</a>
          <a href="" class="nav-item nav-link"> Job Portal</a>
          <a href="" class="nav-item nav-link">Blog</a>
          <a href="{% url 'contact'  %}" class="nav-item nav-link">Contact</a>
        </div>
        <!--
				<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">Download Pro Version</a>
				-->
      </div>
    </nav>
 
    <div
      id="header-carousel"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="{% static 'img/newsd.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">        
             <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Get news details instantly
              </h1>
              <h6 class="text-white text-uppercase mb-3 animated slideInDown">               
                Footware Today
              </h6> 
     
            </div>
          </div>
        </div>
        {% comment %} <div class="carousel-item">
          <img class="w-100" src="{% static 'img/home2.jpg'%}" alt="Image" />
          <div
            class="carousel-caption d-flex flex-column align-items-center justify-content-center"
          >
            <div class="p-3" style="max-width: 900px">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Creative & Innovative
              </h5>
              <h1 class="display-1 text-white mb-md-4 animated zoomIn">
                Creative & Innovative Digital Solution
              </h1>
              <a
                href=""
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Free Quote</a
              >
              <a
                href="{% url 'contact'  %}"
                class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight"
                >Contact Us</a
              >
            </div>
          </div>
        </div> {% endcomment %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Navbar & Carousel End -->


  <!-- News Details Start -->
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="news-details">
      <h1>{{ news.title }}</h1>
      <p>Publication Date: {{ news.publication_date }}</p>
      {% if news.image %}
        <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-image">
      {% endif %}
      <p>Author: {{ news.author }}</p>
      <p>Content: {{ news.content }}</p>
      {% if news.reference_link %}
        <p>Reference Link: <a href="{{ news.reference_link }}">{{ news.reference_link }}</a></p>
      {% endif %}
    </div>
  </div>
  <!-- News Details End -->

{% endblock %}
</body>
